<div class="row">
  <div class="col text-center">
    <p class="lead">
      Please sign up or log in to create a custom name tag for your beloved pet!
    </p>
    <p>
      <button class="btn btn-lg btn-primary" routerLink='/create'>Log in</button>
    </p>
  </div>
</div>